services:

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: emil-server
    restart: unless-stopped
    ports:
      - "8888:8888"
    environment:
      - APP_ENV=production
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:15
    restart: unless-stopped
    container_name: postgres
    environment:
      POSTGRES_USER: ramisoul
      POSTGRES_PASSWORD: 2421680
      POSTGRES_DB: emil-server
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ramisoul -d emil"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data: